client
dev tap
proto udp
remote p.ntaxa.com 1194
resolv-retry infinite
remote-random
nobind
tun-mtu 1500
tun-mtu-extra 32
mssfix 1450
persist-key
persist-tun
ping 15
ping-restart 0
ping-timer-rem
reneg-sec 0
explicit-exit-notify 3

remote-cert-tls server

#mute 10000

comp-lzo
verb 3
pull
fast-io
cipher AES-256-CBC
auth SHA512

<ca>
-----BEGIN CERTIFICATE-----
MIIEfTCCA2WgAwIBAgIJANKHTMPpAy0JMA0GCSqGSIb3DQEBCwUAMIGFMQswCQYD
VQQGEwJVQTESMBAGA1UECBMJR2FseWNoeW5hMQ0wCwYDVQQHEwRMdml2MQ4wDAYD
VQQKEwVOdGF4YTERMA8GA1UEAxMITnRheGEgQ0ExEDAOBgNVBCkTB0Vhc3lSU0Ex
HjAcBgkqhkiG9w0BCQEWD250YXhhQG50YXhhLmNvbTAeFw0xNzA1MTgxOTI5NDda
Fw0yNzA1MTYxOTI5NDdaMIGFMQswCQYDVQQGEwJVQTESMBAGA1UECBMJR2FseWNo
eW5hMQ0wCwYDVQQHEwRMdml2MQ4wDAYDVQQKEwVOdGF4YTERMA8GA1UEAxMITnRh
eGEgQ0ExEDAOBgNVBCkTB0Vhc3lSU0ExHjAcBgkqhkiG9w0BCQEWD250YXhhQG50
YXhhLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMDs2lAhsP4k
hfpsemNlvAlXuSVVVB+IzdkiR/5IfGeL7HkK7uIEwW6oKM1tEZvnP7UCXdF9z8aV
etvlP270kKS+IPnIXlVzqkKOyjvnplmBIrCya54oflXLK/jU9tvSDihOre1xadMc
VsQKBlnHK6LlybYg1xgM9hvgawH7XU+I5pKKPJ2fwnCTafylxIiJh8yRs/0vRGQq
sBaM7I5JYc0nRvipmdSWBoif2Hd2WLFalrfJxqzI2Ctb0lzJ64Gy1TS8K377jLvz
HYJo1VzFQpSVSFDtvFyumoXNT3orJiTfPFxregLmsDzc0RkI4K41Ijk3pwxhJcre
FFrqVK6s4+UCAwEAAaOB7TCB6jAdBgNVHQ4EFgQUqyaIDRMaGuo/0dWorhArqGfx
USwwgboGA1UdIwSBsjCBr4AUqyaIDRMaGuo/0dWorhArqGfxUSyhgYukgYgwgYUx
CzAJBgNVBAYTAlVBMRIwEAYDVQQIEwlHYWx5Y2h5bmExDTALBgNVBAcTBEx2aXYx
DjAMBgNVBAoTBU50YXhhMREwDwYDVQQDEwhOdGF4YSBDQTEQMA4GA1UEKRMHRWFz
eVJTQTEeMBwGCSqGSIb3DQEJARYPbnRheGFAbnRheGEuY29tggkA0odMw+kDLQkw
DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAu6gxAq7yncSeX4tSdPWI
E0z11NHIQoREzE6+rITKzBLmzi6/sCHSkZH/LBYaLZGtSdy4U1xVOIWiGz/7DUUR
d9njZdyt8crEYzXVs6mpZXB/cg6uDFHJHx/sd/3HgM7sPfbKObT3cnGiNNhJzkb3
tI0MpXAbdvd7uyAEnmxk/JpstdEMe02gP9nR+k9je8AWUZdVHRQo5gjUYvPOGnkW
q3wIJB8jHSsMuVCXnKOObRN+veXQh+uZWT2HDCrn6d+y8DONhNsSCNJD7e2hZSmD
ZomyMJ35TD5kZq611t0jQastC8l13Ij3fwP3C5/xRNesqaH7BSQlMLyn+WX5Ymb+
vw==
-----END CERTIFICATE-----
</ca>
<cert>
-----BEGIN CERTIFICATE-----
MIIE1jCCA76gAwIBAgIBAjANBgkqhkiG9w0BAQsFADCBhTELMAkGA1UEBhMCVUEx
EjAQBgNVBAgTCUdhbHljaHluYTENMAsGA1UEBxMETHZpdjEOMAwGA1UEChMFTnRh
eGExETAPBgNVBAMTCE50YXhhIENBMRAwDgYDVQQpEwdFYXN5UlNBMR4wHAYJKoZI
hvcNAQkBFg9udGF4YUBudGF4YS5jb20wHhcNMTcwNTE4MTkyOTQ4WhcNMjcwNTE2
MTkyOTQ4WjCBgzELMAkGA1UEBhMCVUExEjAQBgNVBAgTCUdhbHljaHluYTENMAsG
A1UEBxMETHZpdjEOMAwGA1UEChMFTnRheGExDzANBgNVBAMTBmNsaWVudDEQMA4G
A1UEKRMHRWFzeVJTQTEeMBwGCSqGSIb3DQEJARYPbnRheGFAbnRheGEuY29tMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAq5hq4KH5WnwNY5SOAHkDrtDa
xggg0CMRf76AE2GLM1d2t7jVzI3QjWv7Yiid2sms40y8vzheCpBz6GyHQ8ii3bpl
vQ8GzP23VPIOkzPs/Anm1WC/NathdVc6mfpZTjj2Z61s7n4uo0VLH72xqLHjoKRo
yUa9v5S2HXgmXzE9Xko3WS1maNimEPUmuyF43i/+LEAleEbF5BshTrcjWC9nAw8G
BHM7FzivNUVYNJ3d11UE2XsIYTiYPB2MCN7IV8CLmkkBUTr9lmHeIosqgMmGnffb
Z57weiYNpxMr9m3DrFO+5sghKYP8/6lukAJLwe0ab5lk/8AisvuI8I+v3SytVwID
AQABo4IBTzCCAUswCQYDVR0TBAIwADAtBglghkgBhvhCAQ0EIBYeRWFzeS1SU0Eg
R2VuZXJhdGVkIENlcnRpZmljYXRlMB0GA1UdDgQWBBQLJz2TYXW0pqLbXHH4udJA
Vez4fzCBugYDVR0jBIGyMIGvgBSrJogNExoa6j/R1aiuECuoZ/FRLKGBi6SBiDCB
hTELMAkGA1UEBhMCVUExEjAQBgNVBAgTCUdhbHljaHluYTENMAsGA1UEBxMETHZp
djEOMAwGA1UEChMFTnRheGExETAPBgNVBAMTCE50YXhhIENBMRAwDgYDVQQpEwdF
YXN5UlNBMR4wHAYJKoZIhvcNAQkBFg9udGF4YUBudGF4YS5jb22CCQDSh0zD6QMt
CTATBgNVHSUEDDAKBggrBgEFBQcDAjALBgNVHQ8EBAMCB4AwEQYDVR0RBAowCIIG
Y2xpZW50MA0GCSqGSIb3DQEBCwUAA4IBAQALhn8O6PL3mQydu5o42DHKA/2dBkuf
6Jy2Qyk0+buDDQu/ej9xOtSlp3Ao+Dci6wu5pULdbrnaVPYJ3EppUfOuvApolru2
rJ+vDhrNC2PN2/e0jrDddX9ueNpD+xkwD5KiiV49n5seS1VBGWEVIPtJzFhsxdKF
Pv0db4KQuiIbLuML/+OENdrZY4KpcPjd4/svO8WlP+HNq70qNzl6S0hoiBn7B/pL
3Gku8vRwNBSDwEHmowWYzS+8BoCkuHQz8Dj1vBQ/7kHft0o/LEKMU2g+l/0pPwJt
1uW8cNb52mNr8GvzuYU8yr8znumoSHTXt1oZWtVqZq6j+Rdog6caPloJ
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCrmGrgoflafA1j
lI4AeQOu0NrGCCDQIxF/voATYYszV3a3uNXMjdCNa/tiKJ3ayazjTLy/OF4KkHPo
bIdDyKLdumW9DwbM/bdU8g6TM+z8CebVYL81q2F1VzqZ+llOOPZnrWzufi6jRUsf
vbGoseOgpGjJRr2/lLYdeCZfMT1eSjdZLWZo2KYQ9Sa7IXjeL/4sQCV4RsXkGyFO
tyNYL2cDDwYEczsXOK81RVg0nd3XVQTZewhhOJg8HYwI3shXwIuaSQFROv2WYd4i
iyqAyYad99tnnvB6Jg2nEyv2bcOsU77myCEpg/z/qW6QAkvB7RpvmWT/wCKy+4jw
j6/dLK1XAgMBAAECggEBAKGZ8U2MPWFR4uodRX58eVNxrhdCIGTkId7EcanO+2Fm
xY9Qq0jxZa9KOny+86rQs9l8s2UCmM4qLH5/dwQHOBrJKHdcZ3M2nimJrOBEzrKu
QI5Dhs/sjuQLOk040FIyoxwQ373bZ+CrqYxDAcV1goIPU//6d0itrLUkKj8MCFd6
0olrdq5ouD9G3Xtkg3vMgvqGaKkrSzcPHn9rS8YgJDlTnA3/32yhd0oxredbSg6b
zFyXx6VST3EkyvmKvCYI61SQ9YsOprImuGO5pvL+8zZSHdGjbcbWgMX7ahKtl1rg
h3faDzmNfNhr7Wl4x3gne7EcFqtW8QRvGd/QdCTttYECgYEA2YV0XaknwP4xAJON
XV8BKrNw+KKT30VSdZOwh9Id3prCjbx1Vq2Ugg20nRGamfaE+Bzu8xx8urqCqlMq
a4iLOT4xl5pV1MV+ZX2Cw2uDJtLuvDVkuVvXOAd4i25w1wKklftivx8E/41dTC2U
Q4/7YdAqYewluDW3LC4rqdEkb/kCgYEAyfMwDti2eZixYaQJT7DjxfAG3+udpWhb
A5pVgFd27Xla4bowNP5LIex/RtzC4tAIDICrY7CZzPedwF5g88jqdQuj5bMHVGn3
5qIatUYpLm3wDVyhBBMsl5ZlK6N20726CKo4U1OLJC29bVILnCZ3sdFoJOy5QdxE
Vg+hB3OV+88CgYBIJy+JXfH035yLj2ZGAZyWeH1RzEP2vLz0iW/2LamAzJ8aetgF
T4DCfx9ZNpys04wZ7ScJ93ocSn/LVdjtYJal/05d9nDgKj6aFb8JaaFQgIl2XtOx
dJh4WmoO/ixp9dN4eLGxqe1zg4XeHgRfQORm9rEIWFfOueqvugT7yIcoqQKBgE2D
pYedUPT9UeB7eQN4jwTTq5/ZLSpnEsAgRf88Ey71bJfFwmkkzivYPcYySC+Mz/oU
jTR3faE5zfgfgbExBiUk8aTiAcc54WhKAlxf8MCcfA505mzM+0m39V85oAuIAFcB
FxuMrpSVZecHHeOytDCxgvrhTf5kkGpEF3fnusLrAoGAIwGGhFKjZzE13UbCLvt7
PATkoFEVF1Jsnne6SejLaGQi5UhK1BK8L54lfL7HHSXlKRXoQqofwknAYKEcHYRy
myLiOGbcWbkojahMxMr7TmkGqvQU49Y67DehuKko5tRKmsu8ekfY/njVgkFnJp2R
jVJod44pJvXDXuWzpGsQMwA=
-----END PRIVATE KEY-----
</key>
